<!DOCTYPE html>
<html lang="en">
<head>
    <title>Error</title>
    <link rel="icon" href="./assets/list.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div class="main">
         {{>header}}
        <h1>{{message}}</h1> 
    </div>
    {{>footer}}
</body>
</html>